@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23180d1c' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23261431' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23351947' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23451e5e' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.content-wrapper {
  width: 100%;
  height: auto;
}

/* NAVIGATION */

.navbar {
  font-family: "Lobster", cursive;
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 8rem 1rem;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navbar-elements {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-elements_logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 3rem;
  transition: 0.4s;
}
.logo {
  width: 10rem;
  height: 10rem;
}
.logo-title {
  padding-left: 2rem;
}
.navbar-elements_links {
  display: flex;
  justify-content: space-between;
}
.navbar a {
  color: white;
  padding: 2.5rem;
  text-decoration: none;
  line-height: 2.5rem;
  border-radius: 0.4rem;
  font-size: 3rem;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* HERO */

.hero {
  background-image: linear-gradient(to bottom, #000000, #180d1c, #261431, #351947, #451e5e, #552277);
  height: 120vh;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}
.hero-text button:hover {
  background-color: #555;
  color: white;
}

/* SEARCH */

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  background-color: black;
  border-radius: 15rem;
  transform: translateY(-50%);
}
input[type="text"] {
  width: 35%;
  border: 2px solid #ccc;
  border-radius: 5rem;
  font-size: 2.3rem;
  background-color: white;
  background-image: url("https://img.icons8.com/clouds/100/000000/search.png");
  background-position: -1rem -1.5rem;
  background-repeat: no-repeat;
  padding: 2.5rem 2.5rem 2.5rem 10rem;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 55%;
  outline: none;
}

/* BOOKS */

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  width: 100%;
}
.flip-card {
  background-color: transparent;
  width: 30rem;
  height: 45rem;
  margin: 5rem;
  perspective: 100rem;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30rem;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-back button {
  width: 50%;
  padding: 1.5rem;
  margin-top: 10rem;
  border: none;
  border-radius: 5rem;
  background-color: #351947;
  color: white;
  /* box-shadow: 5px 4px 3px -1px rgba(0, 0, 0, 0.52); */
  cursor: pointer;
}
.flip-card-front img {
  width: 30rem;
  height: 45rem;
}
.flip-card-back {
  background-color: #f3f3f3;
  color: black;
  transform: rotateY(180deg);
}

@media screen and (max-width: 58rem) {
  .navbar {
    /* padding: 2rem 1rem !important; */
  }
  .navbar-elements {
    width: 100%;
  }
  .navbar-elements_links {
    /* flex-direction: column; */
  }
  .navbar a {
    padding: 1.2rem;
    line-height: 2.5rem;
    font-size: 2.5rem;
  }
  .logo-title {
    display: none;
  }

  .flip-card {
    margin: 2rem;
  }
}

/* MODAL */

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
